SMTP_SERVER="mail.toya.com.pl"
SMTP_PORT="587"
SMTP_USER="p.kielek@toya.com.pl"
SMTP_PASS="password_to_change"
FROM_EMAIL="p.kielek@toya.com.pl"
TO_EMAIL="p.kielek@toya.com.pl"
SUBJECT_POSITIVE="Poprawnie zsynchronizowano nowe zmiany CS w betterplayer-fork"
SUBJECT_NEGATIVE="Blad synchronizacji betterplayer-fork"
BODY="Wiadomosc wyslana automatycznie"